<aside class="col-lg-2 d-none d-lg-block sidebar glass-sidebar">
    <div class="sidebar-inner py-4">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard.home') }}">
                    <i class="fa-solid fa-gauge-high me-2"></i>Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('deposit.deposit') }}">
                    <i class="fa-solid fa-circle-plus me-2"></i>Deposit
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('withdraw.withdraw') }}">
                    <i class="fa-solid fa-circle-minus me-2"></i>Withdraw
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('transfer.transfer') }}">
                    <i class="fa-solid fa-money-bill-transfer me-2"></i>Transfer
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('transaction.history') }}">
                    <i class="fa-solid fa-clock-rotate-left me-2"></i>History
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile.profile') }}">
                    <i class="fa-solid fa-user me-2"></i>Profile
                </a>
            </li>
        </ul>
    </div>
</aside>
